*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar-brand a{
    float:right;
}

.container-fluid{
    margin-top:2em;
}

.alert p{
    display:inline-block;
}

.leftSideDiv{
    padding:1em;
    /* box-shadow: 1px 1px 3px 2px gray; */
    border-right:1px solid #E9ECEF;
    height:77vh;
}

#historySearch{
    width:80%;
    padding:8px 12px;
    border:1px solid #E9ECEF;
    border-radius: 25px;
    outline: none;
}

.historyTitle{
    color:gray;
    padding:8px;
}

#historyUrlSection{
    overflow-y: auto;
}

.rightSideDiv{
    width:100%;
    display:inline-block;
    border:2px solid #E9ECEF;
}

.rightSideDiv select{
    padding:8px;
    border:1px solid #E9ECEF;
    border:none;
}

.rightSideDiv input[type=url]{
    outline: none;
    width:40%;
    padding:8px;
    border:none;
}

.rightSideDiv button{
    float:right;
    padding:8px;
    border:1px solid #E9ECEF;
    cursor: pointer;
    
}

.contentTypeSection{
    padding:1em;
}

.contentTypeSection label{
    color:gray;
    font-size: small;
}

.contentTypeSection select{
    padding:4px 18px;
    border:1px solid #E9ECEF;
    outline: none;
    color:gray;
    font-size: small;
}

#parameterBox .row .col-lg-5,#parameterBox .row .col-lg-2{
    padding:2px;
    margin:8px 0;
}

#JsonBox,.result{
    margin:1em 0;
    width:80%;
}

#JsonBox textarea,#yourResponse{
    padding:2em;
}
.historyLink{
    height:40vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.historyLink span{
    padding:6px 8px;
    display:inline-block;
    cursor: pointer;
    margin: 8px;
    background-color: #E9ECEF;
    border:1px solid gray;
    border-radius: 25px;
    overflow:hidden;
}

.clearAll{
    float:right;
}

.clearAll:hover{
    color:orange;
    cursor: pointer;
}

footer{
    background-color: #E9ECEF;
    padding:6px 0;
    vertical-align: middle;
    width:100%;
    text-align: center;
    color:gray;
    margin:0;
    font-weight: bold;
    font-size: small;
}

footer p{
    margin-bottom:0;
}

